<h1>About Me</h1>
<div class="container" style="margin-bottom: 20px;">
      <div class="row" style="text-align: center;">
        <div class="image col-xs-12 col-sm-6 col-md-4 ">
          <%= image_tag("abood.jpg", class:"img-responsive" ) %>
        </div><!-- end image -->

        <div class="Intro col-xs-12 col-sm-6 col-md-4">
          <h2><strong>Introduction</strong></h2>
          <p>I have a good <a href="https://en.wikipedia.org/wiki/Knowledge" target="_blank" title="More information" id="item2"><strong> knowledge </strong></a> of web design and conversion of these designs to html, css and programming</p>
        </div><!-- end Intro column -->

        <div class="skills col-xs-12 col-sm-6 col-md-4">
          <h2><strong> My Skills </strong></h2>
          <ul class="list-group" id="skill-list">
            <li class="list-group-item">HTML (Currently Learning)</li>
            <li class="list-group-item">CSS (Currently Learning)</li>
            <li class="list-group-item">Fortran</li>
            <li class="list-group-item">Honeywell Control Language</li>
            <li class="list-group-item">ASPEN DMC Control Language</li>
          </ul>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
