<!-- ****** C o n t a c t ****** -->
<div class="container" id="contact">
  <h1>Contact Us</h1>

  <div align="center">
    <%= render 'form' %>

    <h2>Address</h2>
    <p>Happy Lane 0815</p>
    <p>90210 Beverly Hills</p>
    <p>USA</p>

  </div>
</div>
