/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /**** navbar css ****/
 .navbar{
   z-index:100;
 }
 .projectName {
   text-transform:uppercase;
 }
 .projectName a {
   color:white;
 }
 .projectName a img{
 	width:30px;
 	height:30px;
 }

 /**** footer css ****/
 .bg-4 {
   background-color:#2f2f2f;
   color:#ffffff;
   clear: both;
   position: relative;
   z-index: 10;
   height: 6em;

 }
 .bg-4 .copyright{
   margin-top:10px;
   margin-bottom:10px;
 }
