// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**** index page ****/
.carousel-caption{
  background-color: black;
  opacity: 0.7;
}

.anchor {
  padding-top:50px;
}

/*** Common properties ****/
body {
  margin:0;
  position:relative;
}
.header h1 {
  text-align:center;
  font-size:6em;
  color:#000000;
}
.box{
  padding:20px;
  margin-top:20px;
}

.img-responsive {
  display:block;
  max-width:100%;
  height:auto;
  margin-bottom:15px;
}


.carousel {
  margin-left:-15px;
  margin-right:-15px;
}
.row .images{
  text-align: center;

}
/**** contact page ****/
#contact{
  background-image: url("/assets/contactone.jpg");
  /*Add a background image*/
  background-attachment:fixed;
  /*Give the background a fixed position does it not scroll when you scroll*/
  background-size:cover;
  /*Have the background cover the entire div section*/
  color:white;
  /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
  padding:50px;
  padding-top:25px;
  width:inherit;
  height:auto;
}


.first h1{
  margin-top:12%;
	text-transform:uppercase;
	font-family:'gt_walsheim_medium';
	font-size:2.5em;
	line-height:46px;
	letter-spacing:0.09em;
	font-weight:900;
}
.contact-h1,.contact-h2,.contact-p{
	color:#1d1d1b;
	font-family:'Raleway',sans-serif;;
	font-weight:100;
	padding:0;
	margin:0;
}
.contactInformation p{
	width:100%;
	display:block;
}
.contactInformation a{
	font-size:1em;
	text-transform:uppercase;
	font-weight:700;
	color:#000;
	text-decoration:none;
}
.contactInformation {
  width:90%;
  opacity:.85;
  padding:10px;
}

.contactInformation a:hover{
	font-size:1.1em;
	color:red;
}
.form-control{
  width:80%;
}


input[type=text],input[type=tel], input[type=email], select, textarea {
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  border-radius:4px;
  box-sizing:border-box;
  margin-top:6px;
  margin-bottom:16px;
  resize:vertical;
  color:black;
}
button[type=submit] {
  background-color:#000;
  color:white;
  padding:12px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

button[type=submit]:hover {
  background-color:#4CAF50;
}

label{
  color:black;
}
.say{
  margin-top:6%;
  font-size:2.5em;
  color:black;
  text-transform:uppercase;
}
